%h2 Artists
.full-box
  .wrapper
    %ul.artists
      - @artists.each do |artist|
        %li
          = link_to image_tag(artist.artist_home_img_url, 'data-hover' => artist.artist_home_img_hover_url), resource_path(artist)
          %br
          = link_to artist.name, resource_path(artist)
      %br.clear