
.headerWrap{
  width:100%;
  min-width:1000px;
  height:100px;
  background:#111 url('/images/header.jpg') repeat-x;
  border-bottom:1px solid #333;
  -webkit-box-shadow: 0 5px 8px #222;
  -moz-box-shadow: 0 5px 8px #222;
  box-shadow: 0 5px 8px #222;
}
.bp .header{
  width:960px;
  margin:0 auto;
  h1{
    padding-top:10px;
    margin-bottom:0;
    padding-bottom:0;
  }  
}
.bp h1,h2,h3,h4,h5,h6 {
  font-family:Arial;
  text-transform:uppercase;
}
.last_bold {
  font-family: 'Arial Black';
}
nav{
  float:right;
  padding-bottom:5px;
  font-size:1.25em;
}
ul.nav{
  position:relative;
  li{
    float:left;
    display:block;
    margin:0 15px;
    a:link{
      color:#fff;
      text-decoration:none;
    }
    a:before{
      padding-right:5px;
      content: url('/images/heart_sm.gif');
    }
    a:visited{
      color:#fff;
      text-decoration:none;
    }
    a:hover{
      color:#B790C2;
      text-decoration:none;      
    }
    a:hover:before{
      padding-right:5px;
      content: url('/images/heart_sm_hover.gif');        
    }  
    ul.sub-nav{
      display:none;
      position:absolute;

      padding-top:10px;
      width:140px;
      li{
        clear:both;
        margin-left:-50px;
        display:block;
      }
      a:link{
        color:#222;
        text-decoration:none;
        background:#fff;
        padding:2px 5px;
        font-size:.85em;
        border:1px solid #555;
        -moz-box-shadow: 2px 2px 10px #000;;
  box-shadow: 2px 2px 10px #000;
        width:180px;
        display:block;
      }
      a:before{
        padding-right:5px;
        content: url('/images/heart_sm.gif');
      }
      a:visited{
        color:#222;
        text-decoration:none;
        background:#fff;        
      }
      a:hover{
        color:#B790C2;
        text-decoration:none;      
      }
      a:hover:before{
        padding-right:5px;
        content: url('/images/heart_sm_hover.gif');        
      }      
    }
  }
}
.footer{
  width:940px;
  text-align:center;
  min-height:100px;
  padding:10px;
  margin: 0 auto;
  background:#111;
  background:rgba(0,0,0, 0.1);
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size:.9em;
}



h2:before{
  padding-right:5px;
  content: url('/images/heart_med.png');
}
//---------- Artist ----------------
.artist-main{
  height:296px;
}
.artist-home img{ 
  width:299px;
  overflow:hidden;
}
.bio{
  @include column(8, true);
  height:250px;
  overflow:auto;
}
.bio-image{
  @include column(6);
}
.scrollable{
  float:left;
  position:relative;
  overflow:hidden;
  width:830px;
  height:160px;
  .items{
    width:20000em;
    position:absolute;
    div{
      float:left;
    };
    .item{
      margin-right:10px;
    };
  };
}
.bp ul.artists{
  padding:0;
  margin:0;
  li{
    float:left;
    display:block;
    text-align:center;
    margin:0 10px 10px 0;
    max-width:292px;
    overflow:hidden;
    img{
      max-width:292px;
      overflow:hidden;
    };
    h2{
      font-height:.8em;
      margin:0;
      padding:0;
      a{
        text-decoration:none;
        color:#fff;
      }
      a:visited{
        color:#fff;
      }
    }
    h2:before{
      content:none;
    }
  };
}
//---------- Blog Classes ----------------
.comments{
  background:#f5f5f5;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:5px;
}
.featured{
  height:300px;
  vertical-align:bottom;
  position:relative;
}
.featured-text{
  padding:10px;
  background:#333;
  background:rgba(0,0,0,0.8);
  position:absolute;
  bottom:0;
  width:610px;
  left:-1px;
  bottom:-1px;
  -webkit-border-radius:11px;
  -moz-border-radius: 11px;
  border-radius: 3px;
}
.featured2{
  height:300px;
  width:590px;
  vertical-align:bottom;
  position:relative;
}
.bp .featured2-text{
  padding:10px;
  background:#333;
  background:rgba(0,0,0,0.8);
  position:absolute;
  bottom:0;
  width:571px;
  left:-1px;
  bottom:-1px;
  p, h3{
    margin:0;
    padding:0;
  }
  
}

.bp li.post{
  margin:0;
  margin-bottom:20px;
  padding:0;
  display:block;
  border-bottom:1px dotted #666;
  h3{
    margin-bottom:5px;
  }
  small{
    margin-bottom:10px;
    display:block;
  }
  .comment-link{
    text-align:right;
  }
}
.post-body{
  margin:10px 0;
}
//---------- Utility Classes ----------------
.wrapper{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border:1px solid #222;
  background:#010101;
  padding:20px;
  -webkit-box-shadow: 2px 2px 10px #444 inset, 2px 2px 10px #000;
  -moz-box-shadow: 2px 2px 10px #444 inset, 2px 2px 10px #000;
  box-shadow: 2px 2px 10px #444 inset, 2px 2px 10px #000;
  margin-bottom:20px;
}
.two-third-box{
  @include column(16);
}
.one-third-box{
  @include column(8, true);
}
.full-box{
  @include column(24, true)
}
.story-sidebar{
  @include column(6, true);
}


/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url('/images/hori_large.png') no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:60px 8px;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	






	#overlay {
		height:450px;
	  -moz-border-radius: 10px;
    border-radius: 10px;
	}
	
	div.contentWrap {
		height:441px;
		overflow-y:auto;
	}
/* the overlayed element */
.apple_overlay {
	
	display:none;
	
	/* growing background image */
  background:#111;
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:600px;		

	/* some padding to layout nested elements nicely  */
	padding:25px;

	/* a little styling */	
	font-size:11px;
}
.bp img{
  margin:0;
  border:0;
}
  .small-tweet{
    height:73px;
  }
  .tweet .tweet_list, .query .tweet_list {
    font-size:.8em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
  }
    .tweet .tweet_list .awesome, .tweet .tweet_list .epic, .query .tweet_list .awesome, .query .tweet_list .epic {
      text-transform: uppercase; }
    .tweet .tweet_list li, .query .tweet_list li {
      overflow-y: auto;
      overflow-x: hidden;
      padding: .5em; }

    .tweet .tweet_list .tweet_even, .query .tweet_list .tweet_even {
      background-color: #222; }
    .tweet .tweet_list .tweet_avatar, .query .tweet_list .tweet_avatar {
      padding-right: .5em;
      float: left; }
      .tweet .tweet_list .tweet_avatar img, .query .tweet_list .tweet_avatar img {
        vertical-align: middle; }

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    background: red;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #333;
    position: relative;
}

.jspDrag
{
    background: #999;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #555;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}


#mc_embed_signup{
 font-size:12px;
 min-width:210px;
 height:20px;
 float:right;
 padding-top:10px;
  #mce-EMAIL{
  float:left;
  }
 #mc-embedded-subscribe{
   color:#fff;
   background-color:#d1a4de;
   float:right;
 }
}