// Page layout can be done using mixins applied to your semantic classes and IDs
// For instance this layout defines a two column layout on pages with
// a body class of "two-col".
//
// The markup would look like:
//    <div id="container">
//      <div id="header"></div>
//      <div id="sidebar"></div>
//      <div id="content"></div>
//      <div id="footer"></div>
//    </div>
//
// and the layout would look like:
//    +------------------------+
//    |        #header         |
//    +--------+---------------+
//    |                        |
//    |         #content       |
//    |                        |
//    +------------------------+
//    |        #footer         |
//    +--------+---------------+

body.one-col {
  background:#222 url('/images/bg.jpg') repeat;
  #container {
    @include container;
    margin-top:10px;
    padding:0 20px;
    background:transparent;}
  #footer {
    @include column($blueprint-grid-columns); }
  #content {
    // true means it's the last column in the row
    @include column($blueprint-grid-columns, true); } }
