// Page layout can be done using mixins applied to your semantic classes and IDs
// For instance this layout defines a two column layout on pages with
// a body class of "two-col".
//
// The markup would look like:
//    <div id="container">
//      <div id="header"></div>
//      <div id="sidebar"></div>
//      <div id="content"></div>
//      <div id="footer"></div>
//    </div>
//
// and the layout would look like:
//    +------------------------+
//    |        #header         |
//    +--------+---------------+
//    |        |               |
//    |#sidebar|    #content   |
//    |        |               |
//    +------------------------+
//    |        #footer         |
//    +--------+---------------+

body.two-col {
  background:#222 url('/images/bg-new.jpg') repeat;  
  #container {
    @include container;
    margin-top:10px;
    padding:0 20px;
    background:transparent; }
  #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: 8;
    @include column($sidebar-columns, true);
    padding-right:0px;
    padding-top:53px;
    img{
      max-width:270px;
      overflow:hidden;
  }
    }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: 16;
    // true means it's the last column in the row
    @include column($content-columns); } 
  }
