- title "Story - The Birdsuit"
%h2 We Are <strong>The Birdsuit</strong>
.wrapper
  .title-img= image_tag @page.page_img_url
  .two-third-box
    %h2= @page.title
    = @page.body.html_safe
    
  .story-sidebar
    %h2 Artist <strong>Roster</strong>

    - @artists.each do |artist| 
      = link_to image_tag(artist.roster_pic_url, 'data-hover' => artist.roster_pic_hover_url), artist_path(artist)

  %br.clear