<!-- Begin MailChimp Signup Form -->
<script type="text/javascript">
// delete this script tag and use a "div.mce_inline_error{ XXX !important}" selector
// or fill this in and it will be inlined when errors are generated
var mc_custom_error_style = '';
</script>
<div id="mc_embed_signup">
  JOIN THE BIRD SUIT MAILING LIST
<form action="http://theBird Suit.us2.list-manage2.com/subscribe/post?u=610a74eab0d62951c17785bdf&amp;id=84d7eba128" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<fieldset>
	
<div class="mc-field-group">
<input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your Email">
</div>
		<div id="mce-responses">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>
		<div><input type="submit" value="JOIN" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
	</fieldset>	
</form>
</div>

<!--End mc_embed_signup-->